*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  body{
    font-family: 'Poppins', sans-serif;
  }

  .container{
    margin: auto;
    width: 70%;
  }

  /* <!-- nav-bar --> */
  .nav-bar{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    width: 100%;

  }

  .list a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: 0.5s;
  }

  .red-color{
    color: #20c997;
  }

  a:hover{
    color: #20c997;
  }

  .logo{
    /* background-color: tomato; */
    margin-top: 1rem;
    margin-left: 2rem ;
    
  }

  .nav-bar ul{
    /* background-color: blue; */
    list-style: none;
    display: flex;
    justify-content: space-around;
    
    
    
  }

  .logo h2{
    color: white;
    font-size: 2rem;
  }

  .list{
    /* background-color: #20c997; */
    width: 30%;
    margin-top: 1.5rem;
    margin-right: 40rem;
    
    
    
  }
  .list li{
    display: flex ;
    justify-content: space-between;
  }

  

  
  

  /* <!-- home-section --> */
  .home{
    background-image: url(images/asset\ 12.jpeg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    
    
    
  }

  

  

  .home-content{
    
    height: 100vh;
   background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
  

 

  .home-content-child h1{
    color: white;
    font-size: 4rem;
    padding: 1rem;
  }

  .home-content-child h2{
    color: white;
    font-size: 1.75rem;
    padding: 1rem;
  }

  .home-content-child h3{
    color: white;
    font-size: 1.3125rem;
    padding: 1rem;
  }

  .home-content-child button{
    border-radius: 50rem;
    padding: 0.8rem 2.6rem;
    color: #20c997;
    border-color: #20c997;
    background-color: transparent;
    margin: 1rem;
  }

  button:hover{
    background-color: #20c997;
    color: white;
  }

  /* <!-- WHAT I DO --> */
.gray-bg{
  background-color: #f8f9fa;
  width: 100%;
  margin-top: 5rem;
}
  .sec2{display: flex;
    flex-wrap: wrap;
    padding: 4rem 0 4rem 0;}
    
    .sec22{padding-top: 4rem;
    display: flex;
    width: 50%;
  justify-content: space-between;}  
    
    .upsec2{width: 85%;
    }
    
    .upsec2 h4{
      padding-bottom: 1rem;
    } 
    .icon1{
    background-color: white;
    border-radius: 0.25rem;
    padding:2rem 1.5rem 2rem 1.5rem ;
    border: white solid;
    color: #20c997;
    /* padding-bottom: 2rem; */
    }

  /* <!-- know me more section --> */
.head{
  text-align: center;
  margin-top: 7rem;
  font-size: 2rem;
  color: #212529;
  position: relative;

  
}

.childs{
  /* background-color: tomato; */
  z-index: 3;
}

.parent{
  /* background-color: red; */
  position: relative;
  padding: 2rem 0 2rem 0;
 
}
.bg{
  /* background-color: indigo; */
  width: 100%;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.1;
  font-size: 8.25rem;
  font-weight: 600;

  margin-top: 4rem;
  /* top: 50px; */
  /* right: 50px */
}
.head2{
  font-size: 1.5rem;
  color: #212529;
}
  .know-me{
    /* background-color: red; */
    display: flex;
    padding-top: 5rem ;
    justify-content: space-around;
  }

  .content{
    /* background-color: #20c997; */
    width: 70%;
    padding-top:0.5rem ;
    
    
    
    
  }
  .content p{
    color: #4c4d4d
    ;
    font-size: 1.1rem;
    
    
    
  }

  .info{
    /* background-color: aqua; */
    width: 30%;
    margin-top: 2rem;
    margin-left: 1rem;
    
    
    
   
  }

  .info button{
    padding-right: 2.6rem;
    padding-left: 2.6rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 50rem;
    background-color: #20c997;
    border-color: transparent;
    color: white;
    margin-top: 1rem;
    
    
    
  }

  .info ul{
    list-style: none;
    
  }

  .info li{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: #4c4d4d;
    
  }

  .plus{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 2rem;
    width: 65%;
  }

  .child1{
    /* background-color: red; */
    text-align: center;
    /* font-size: 2.5rem; */
    color: #6c757d
    
    ;
  }

  .child1 p{
    font-size: 1rem;
    color: #4c4d4d;
  }

  .plus h4{
    font-size: 3rem;
    color: #6c757d;

  }
  .child2 p{
    font-size: 1rem;
    color: #4c4d4d;
  }
  .child3 p{
    font-size: 1rem;
    color: #4c4d4d;
  }
  .child4 p{
    font-size: 1rem;
    color: #4c4d4d;
  }
  
  

  .child2{
    /* background-color: aqua; */
    text-align: center;
    /* font-size: 2.5rem; */
    color: #6c757d
  }
  .child3{
    /* background-color: beige; */
    text-align: center;
    /* font-size: 2.5rem; */
    color: #6c757d
  }
  .child4{
    /* background-color: #20c997; */
    text-align: center;
    /* font-size: 2.5rem; */
    color: #6c757d
  }

  .line {
    position: relative;
}
.line:after {
    content: '';
    position: absolute;
    right: 0;
    border-right: 1px solid #4c4d4d;
    top: 0%;
    bottom: 0%;
}

.lines{
  background-color: #20c997;
  width: 5rem;
  margin: auto;
  height: 0.2rem;
}

.what-i-do{
  background-color: red;
}

/* <!-- summary --> */




.my-education{
  /* background-color: #4c4d4d; */
  /* width: 50%; */
  display: flex;
  width: 48%;
}

.my-education h2{
  font-size: 1.5rem;
}


.resume{display: flex;
  /* background-color: #20c997; */
  justify-content: space-between;
}

.summary-content{
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
}

.master{
  /* background-color: royalblue; */
  border: 1px solid #4c4d4d ;
  width: 48%;
  margin-top: 1.5rem;
  padding: 10px;
}

.color span{
  color: white;
  font-size: 0.9rem;
  
  

}

.color{
  border-radius: 0.2rem;
  border: solid transparent;
  background-color: #20c997;
  width: 14%;
  margin-left: 10px;
}

.master p{
  padding: 10px;
  color: 4c4d4d;
  
}
.master h3{
  padding-left: 10px;
  padding-top: 10px;

}

#galal{
  color: #dc3545;
}

.skills{
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  
}

.web-desgin{
  /* background-color: royalblue; */
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  
}

.line20{
  background-color: #e9ecef;
  width: 100%;
  border-radius: 0.4rem;
}

.parent-line{
  background-color: #20c997;
  height: 0.52rem;
  width: 80%;
  border-radius:0.4rem ;
  

}

.container h2{
  /* margin-top: 4rem; */
  font-size: 1.5rem;
  MARGIN-LEFT: 1REM
}

.CV{
  margin: auto;
  margin-top: 2rem;
  border-radius: 3REM;
  padding: 0.8REM;
  PADDING-left: 3REM;
  PADDING-right: 3REM;
  border: 1px solid #4c4d4d;
  background-color: #ffffff;
}

.CV:hover{
  background-color: #4c4d4d;
}

/* porflio-section */
.mywork{background-color: #20c997;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  
  }
  .links{display: flex;
  justify-content: center;
}
  .links a{text-decoration: none;
  padding: 1rem;}
  .img1{
    /* width: 33%; */
    /* background-color: royalblue */
  }
  .img1 img{
    /* width:100% ; */
  }
  .column{
    width: 33.33%;
  background-color: #4c4d4d;
  padding: 1rem;
  }
  .column img{width: 100%;
    padding-bottom: 2rem;
  }
  
  .bgblack{position: relative;}
  
  .bgblack12{
  top: 0;
  bottom: 10.22%;
  left: 0;
  right: 0;
  position: absolute;
  padding-bottom: 2rem;
  transition: 1s;
  }
  .bgblack12:hover{background-color: rgba(0, 0, 0, 0.7);
  }
  .text-align{text-align: center;
  vertical-align: middle;}




  /* <!-- client-speak --> */

.test-parent{
  /* background-color: #dc3545; */
  display: flex;
  justify-content: space-between;
}

.denis{
  background-color: #f8f9fa;
  padding: 1rem;
  
  display: flex;
}


.denis-parent{
  /* background-color: #20c997; */
width: 48%;
padding: 2rem 0 2rem 0;}
#jack{background-color:#f8f9fa;
  padding: 0.5rem ;
padding-left: 1.5rem;}
.picture1{}

.txt{
  /* background-color: royalblue; */
}

.picture1 img{
  border-radius: 50%;
}